<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Decathlon Points Calculation System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Decathlon Points Calculation System</h1>
  <hr>
  <h2>Calculate Decathlon Points</h2>
  <br>
  <form action="#" th:action="@{/point-calculations}"
        th:object="${pointCalculationRequest}"
        method="POST">
    <label> Select the sport type: </label>
    <select class="form-control mb-4 col-4" id="dropDownList" th:field="*{sport}">
      <option th:each="option : ${types}" th:value="${option}" th:text="${option.name()}"></option>
    </select>
    <label> Enter your result: </label>
    <input type="number" step="0.001" required th:field="*{result}" class="form-control mb-4 col-4"/>
    <button type="submit" class="btn btn-info col-2"> Calculate </button>
  </form>
  <hr>
</div>
</body>
</html>